replicaCount: 1

image:
  repository: ghcr.io/bcgov/cheque-verification-backend
  tag: dev
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80
  targetPort: 3000

# Horizontal Pod Autoscaler configuration
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80

# Pod Disruption Budget
podDisruptionBudget:
  enabled: false
  minAvailable: 1

nodeSelector: {}

tolerations: []

affinity: {}
